header img {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 50;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  height: 560px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

header h1{
  padding-right: 30px;
}