.tool {
  background-color: #142738;
  color: #F8DAC2;
  height: 40vh;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tool span img {
  width: 50px;
}

.mod {
  max-width: 100% !important;
  padding: 0;
}

.separate span{
  padding: 25px;
}