
section {
    margin-top: 200px;
    text-align: center;
}
 
.card {
    width: 140PX;
    color: #f8dac2;
    background-color: #000;
    border-style: double;
    padding: 80px;
    margin: auto;
}
#name {
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    color:  #f8dac2;
}

#password-label {
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    color:  #f8dac2;
}

#button {
    width: 60px;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    color:  #f8dac2;
    background:  #000;
    border-color: #fff;
}
